# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Kwetter.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mario\source\repos\Kwetter\src\.idea\.idea.Kwetter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
