apiVersion: v1
kind: Service
metadata:
  name: eventstore
  namespace: kwetter
  labels:
    app: eventstore
spec:
  ports:
  - port: 2113
    targetPort: 2113
    name: eventstore-web
  selector:
    app: eventstore
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: eventstore
  namespace: kwetter
spec:
  replicas: 1
  minReadySeconds: 30
  selector:
    matchLabels:
      app: eventstore
      version: latest
  template:
    metadata:
      labels:
        app: eventstore
        version: latest
    spec:
      securityContext:
        fsGroup: 1000
      containers:
      - name: eventstore
        image: eventstore/eventstore:20.10.2-bionic
        imagePullPolicy: Always
        ports: 
          - containerPort: 2113
            name: es-web
        env:
        - name: EVENTSTORE_EXT_IP
          value: "0.0.0.0"
        - name: EVENTSTORE_ENABLE_EXTERNAL_TCP
          value: "false"
        - name: EVENTSTORE_INSECURE
          value: "true"
        - name: EVENTSTORE_EXT_HTTP_PORT
          value: "2113"
        - name: EVENTSTORE_EXT_HTTP_PREFIXES
          value: "http://*:2113/"
        - name: EVENTSTORE_ENABLE_ATOM_PUB_OVER_HTTP
          value: "true"
        resources:
          limits:
            memory: 300Mi
            cpu: 200m
        volumeMounts:
        - name: eventstore-data-volume
          mountPath: /var/lib/eventstore
      volumes:
      - name: eventstore-data-volume
        persistentVolumeClaim:
          claimName: eventstore-data-volume-claim