apiVersion: v1
kind: Service
metadata:
  name: kwetter-follow-db
  namespace: kwetter
  labels:
    app: kwetter-follow-db
    service: kwetter-follow-db
spec:
  selector:
    app: kwetter-follow-db-pod
  ports:
  - protocol: TCP
    name: tcp-psql
    port: 5432
    targetPort: 5432
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kwetter-follow-db
  namespace: kwetter
spec:
  selector:
    matchLabels:
      app: kwetter-follow-db-pod
      version: latest
  template:
    metadata:
      labels:
        app: kwetter-follow-db-pod
        version: latest
    spec:
      containers:
      - name: kwetter-follow-db-container
        image: postgres:13.2
        imagePullPolicy: "IfNotPresent"
        resources:
          limits:
            memory: 200Mi
            cpu: 300m
        ports:
        - containerPort: 5432
        envFrom:
        - secretRef:
            name: kwetter-follow-db-secret
        volumeMounts:
        - name: kwetter-follow-db-volume-mount
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: kwetter-follow-db-volume-mount
        persistentVolumeClaim:
          claimName: kwetter-follow-db-volume-claim
